.dashboard {
	width: 100%;
	padding: 40px;
	background-color: #EEEEEE;
	float: left;
}

.dashboard-body {
	width: 100%;
	max-width: 600px;
	padding: 10px;
	margin: 30px auto;
	background-color: #FFFFFF;
	display: flex;
	flex-direction: column;
	justify-content: center;
	border-radius: 10px;
}

.profile-picture {
	width: 200px;
	height: 200px;
	border: 2px solid blue;
	border-radius: 50%;
	overflow: hidden;
	padding: 0;
	margin: 0 auto;
	margin-bottom: 10px;
}

.profile-picture img {
	width: 100%;
	height: auto;
}

.profile-name {
	width: 100%;
	padding: 0;
	margin: 0;
	font-size: 16px;
	line-height: 1.5;
	letter-spacing: 0px;
	font-family: "Arial";
	font-weight: bold;
	text-align: center;
	color: black;
}

.profile-username {
	width: 100%;
	padding: 0;
	margin: 0;
	margin-bottom: 10px;
	font-size: 16px;
	line-height: 1.5;
	letter-spacing: 0px;
	font-family: "Arial";
	font-weight: 200;
	font-style: italic;
	text-align: center;
	color: black;
}

.profile-account-balance {
	width: 100%;
	padding: 0;
	margin: 0;
	margin-bottom: 10px;
	font-size: 24px;
	line-height: 1.5;
	letter-spacing: 0px;
	font-family: "Arial";
	font-weight: bold;
	text-align: center;
	color: black;
}

.profile-account-balance .balance {
	font-size: 40px;
}

.profile-action-btns {
	width: 100%;
	padding: 0;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-around;
}

.btn {
	width: 100%;
	max-width: 150px;
	height: 40px;
	margin: 0px 10px;
}

.profile-transactions {
	width: 100%;
	margin: 40px 0px;
	padding: 10px;
}

.transaction-header {
	width: 100%;
	padding: 0;
	margin: 0;
	margin-bottom: 10px;
	font-size: 20px;
	line-height: 1.5;
	letter-spacing: 0px;
	font-family: "Arial";
	font-weight: bold;
	text-align: center;
	color: black;
}

.transaction-table {
	width: 100%;
	padding: 0;
}

.transaction-table .row {
	padding: 10px 0px;
}

.transaction-table .row.dark {
	background-color: gainsboro;
}

.transaction-table-header {
	font-size: 18px;
	line-height: 1.5;
	letter-spacing: 0px;
	font-family: "Arial";
	font-weight: bold;
	text-align: left;
	color: black;
}

.transaction-table-body {
	font-size: 18px;
	line-height: 1.5;
	letter-spacing: 0px;
	font-family: "Arial";
	font-weight: normal;
	text-align: left;
	color: black;
}

#loader {
	position: absolute;
	left: 50%;
	top: 50%;
	z-index: 1;
	width: 120px;
	height: 120px;
	margin: -76px 0 0 -76px;
	border: 16px solid #f3f3f3;
	border-radius: 50%;
	border-top: 16px solid #3498db;
	-webkit-animation: spin 2s linear infinite;
	animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
	0% { -webkit-transform: rotate(0deg); }
	100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
	0% { transform: rotate(0deg); }
	100% { transform: rotate(360deg); }
}

/* Add animation to "page content" */
.animate-bottom {
	position: relative;
	-webkit-animation-name: animatebottom;
	-webkit-animation-duration: 1s;
	animation-name: animatebottom;
	animation-duration: 1s
}

@-webkit-keyframes animatebottom {
	from { bottom:-100px; opacity:0 } 
	to { bottom:0px; opacity:1 }
}

@keyframes animatebottom { 
	from{ bottom:-100px; opacity:0 } 
	to{ bottom:0; opacity:1 }
}

#myDiv {
	display: none;
	text-align: center;
}